// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    display: flex;
    width: 100vw;
    height: 100vh
}

#app {
    display: flex;
    width: 100%
}

.mainContainer {
    color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topbar {
    padding: 10px 20px 10px;
    background-color: #398874;
    color: #303030
}

.topbar h4 {
    margin: 0 0;
}

.board {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #44a28b;
    overflow-x: auto;
    height: 100%;
    padding: 10px;
}

.list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 250px;
    margin: 10px 4px;
    padding: 4px 0 5px;
    border-radius: 2px;
    background-color: #dcdcdc;
    // overflow-y: auto;
    // max-height: 85vh;
}

.list-header {
    background-color: #dcdcdc;
    margin-bottom: 3px;
    min-width: 0;
    padding: 0 4px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;

    .list-title-container {
        flex-grow: 1;
    }

    h6 {
        margin: 0;
        padding: 5px 5px 5px 15px;
    }

    .edit-title-open {
        border: 1px solid chartreuse;
    }

    .delete-button {
        margin: 0 0;
        display: inline-block;
        cursor: pointer;
        padding: 0 7px;
        height: 1.5em;

        &:hover {
            background-color: dimgray;
            border-radius: 2px;
        }
    }
}

.cardList {
    max-height: 85vh;
    overflow-y: auto;
    margin-right: 2px;
}

.add-card-form {
    padding: 5px 10px 5px 15px;
}

.card-container {
    padding: 2px 14px 0 10px;

    &:hover {
        .ellipses {
            background-color: lightgray;
            display: inline-block;
            text-align: center;
            margin: 4px 0;
            border-radius: 2px;
            width: 8%;
            cursor: pointer;

            &:hover {
                background-color: dimgray;
            }
        }
    }
}

.task-card {
    color: rgb(48, 48, 48);
    width: 100%;
    padding: 0 4px 0 8px;
    background-color: #f6f6f6;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;

    .card-name {
        margin: 0 0;
        width: 85%;
        display: inline-block
    }

    .ellipses {
        display: none;

        .dots {
            font-size: 11px
        }
    }

}

.open-card-menu-overlay {
    border: 1px solid black;
    background-color: rgba(9, 30, 66, .25);
    // these things make a full screen overlay
    // within that overlay 
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

.card-detail-container {
    background-color: #f6f6f6;
    position: relative;
    top: -23px;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
}



.dragged-card {
    background-color: rgb(48, 48, 48);
    color: #f6f6f6;
}

.drag-zone {
    height: 7px;

    &.expand-drag-zone {
        height: 50px;
    }
}
